<!DOCTYPE HTML>
<html lang="fr-fr" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="keywords" content="Krav Maga, KMC92, Self Defense, Close Combat, Krav Maga club 92, Krav Maga 92, Suresnes, Saint-Cloud, Boulogne-Billancourt, Hauts de seine, Yann VEILLERANT, Eric TAGLIANA, Cyrille SCHUSTER" />
    <meta name="author" content="Super User" />
    <meta name="description" content="Vos trois clubs de Krav Maga au cœur des Hauts de Seine 92 (Saint-Cloud, Suresnes et Boulogne-Billancourt). L'une des écoles les plus importantes de France. Une équipe de hauts gradés FEKM, disponible et accueillante, dans un cadre convivial, ouvert et respectueux de toutes et tous. Le meilleur choix pour apprendre le Krav Maga FEKM dans des conditions optimales. Pour que chacun puisse marcher en paix..." />
    <meta name="generator" content="Joomla! - Open Source Content Management" />
    <title>Fiche d'inscription</title>
    <link rel="stylesheet" href="{{ asset('bundles/kmckmc/css/style2.css') }}" type="text/css" />
    <link href="http://www.kmc92.fr/index.php/component/search/?Itemid=132&amp;format=opensearch" rel="search" title="Valider Krav Maga Club 92" type="application/opensearchdescription+xml" />
    <link href="http://www.kmc92.fr//templates/yoo_bigeasy/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="http://www.kmc92.fr//cache/widgetkit/widgetkit-c5d7a85f.css" type="text/css" />
    <script src="http://www.kmc92.fr//media/system/js/mootools-core.js" type="text/javascript"></script>
    <script src="http://www.kmc92.fr//media/system/js/core.js" type="text/javascript"></script>
    <script src="http://www.kmc92.fr//media/system/js/caption.js" type="text/javascript"></script>
    <script src="http://www.kmc92.fr//media/widgetkit/js/jquery.js" type="text/javascript"></script>
    <script src="http://www.kmc92.fr//cache/widgetkit/widgetkit-cd493677.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.addEvent('load', function() {
            new JCaption('img.caption');
        });
    </script>

    <link rel="apple-touch-icon-precomposed" href="http://www.kmc92.fr/templates/yoo_bigeasy/apple_touch_icon.png" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/layout.css" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/menus.css" />
    <style>body { min-width: 1000px; }
        .wrapper { width: 1000px; }
        #maininner { width: 1000px; }
        #menu .dropdown { width: 250px; }
        #menu .columns2 { width: 500px; }
        #menu .columns3 { width: 750px; }
        #menu .columns4 { width: 1000px; }</style>
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/modules.css" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/tools.css" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/system.css" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/extensions.css" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/custom.css" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/background/linen.css" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/font1/droidsans.css" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/font2/yanonekaffeesatz.css" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/font3/yanonekaffeesatz.css" />

    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/css/print.css" />
    <link rel="stylesheet" href="http://www.kmc92.fr/templates/yoo_bigeasy/fonts/droidsans.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,light" />
    <script src="http://www.kmc92.fr/templates/yoo_bigeasy/warp/js/warp.js"></script>
    <script src="http://www.kmc92.fr/templates/yoo_bigeasy/warp/js/accordionmenu.js"></script>
    <script src="http://www.kmc92.fr/templates/yoo_bigeasy/warp/js/dropdownmenu.js"></script>
    <script src="http://www.kmc92.fr/templates/yoo_bigeasy/js/template.js"></script>
</head>

<body id="page" class="page sidebar-a-right sidebar-b-right isblog " data-config='{"twitter":0,"plusone":0,"facebook":1}'>

<div id="page-body">


    <div class="wrapper grid-block">

        <header id="header" class="grid-block">


            <a id="logo" href="http://www.kmc92.fr">
                <p><img src="http://www.kmc92.fr/images/yootheme/logoKMC92.png" border="0" alt="logo" width="968" height="123" /></p></a>

            <div id="toolbar" class="bfc-o">


                <div class="float-right">

                    <div class="module   deepest">



                    </div>


                </div>



            </div>


            <div id="menubar">

                <div id="search">
                    <form id="searchbox-40" class="searchbox" action="http://www.kmc92.fr/index.php/krav-maga-92/faq.html" method="post" role="search">
                        <input type="text" value="" name="searchword" placeholder="search..." />
                        <button type="reset" value="Reset"></button>
                        <input type="hidden" name="task"   value="search" />
                        <input type="hidden" name="option" value="com_search" />
                        <input type="hidden" name="Itemid" value="132" />
                    </form>

                    <script src="http://www.kmc92.fr/templates/yoo_bigeasy/warp/js/search.js"></script>
                    <script>
                        jQuery(function($) {
                            $('#searchbox-40 input[name=searchword]').search({'url': 'http://www.kmc92.fr/index.php/component/search/?tmpl=raw&amp;type=json&amp;ordering=&amp;searchphrase=all', 'param': 'searchword', 'msgResultsHeader': 'Search Results', 'msgMoreResults': 'More Results', 'msgNoResults': 'No results found'}).placeholder();
                        });
                    </script></div>

                <nav id="menu"><ul class="menu menu-dropdown"><li class="level1 item101"><a href="/" class="level1"><span>Accueil</span></a></li><li class="level1 item131 parent active"><a href="/" class="level1 parent active"><span>KMC 92</span></a><div class="dropdown columns1"><div class="dropdown-bg"><div><div class="width100 column"><ul class="level2"><li class="level2 item132 active current"><a href="http://www.kmc92.fr/index.php/krav-maga-92/faq.html" class="level2 active current"><span>FAQ</span></a></li><li class="level2 item164 parent"><a href="http://www.kmc92.fr" class="level2 parent"><span>Les Clubs</span></a><ul class="level3"><li class="level3 item165"><a href="http://www.kmc92.fr/index.php/krav-maga-92/les-clubs/uas-krav-maga.html" class="level3"><span>UAS KRAV MAGA Saint-Cloud</span></a></li><li class="level3 item166"><a href="http://www.kmc92.fr/index.php/krav-maga-92/les-clubs/kmtc-suresnes.html" class="level3"><span>KMTC Suresnes</span></a></li><li class="level3 item167"><a href="http://www.kmc92.fr/index.php/krav-maga-92/les-clubs/kmb2-boulbi.html" class="level3"><span>KMB2 Boulogne-Billancourt</span></a></li><li class="level3 item201"><a href="http://www.kmc92.fr/index.php/krav-maga-92/les-clubs/kmcm-meudon.html" class="level3"><span>KMCM Meudon</span></a></li></ul></li><li class="level2 item168 parent"><a href="/" class="level2 parent"><span>L'équipe</span></a><ul class="level3"><li class="level3 item169"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/yann-veillerant.html" class="level3"><span>Yann VEILLERANT</span></a></li><li class="level3 item170"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/cyrille-schuster.html" class="level3"><span>Cyrille SCHUSTER</span></a></li><li class="level3 item172"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/eric-tagliana.html" class="level3"><span>Eric TAGLIANA</span></a></li><li class="level3 item212"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/philippe-mendy.html" class="level3"><span>Philippe MENDY</span></a></li><li class="level3 item213"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/mouloud-amazit.html" class="level3"><span>Mouloud AMAZIT</span></a></li><li class="level3 item214"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/regis-fanget.html" class="level3"><span>Regis FANGET</span></a></li><li class="level3 item211"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/jonathan-atlan.html" class="level3"><span>Jonathan ATLAN</span></a></li><li class="level3 item206"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/alexandre-chopine.html" class="level3"><span>Alexandre CHOPINE</span></a></li><li class="level3 item207"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/benjamin-richerolle.html" class="level3"><span>Benjamin RICHEROLLE</span></a></li><li class="level3 item208"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/christophe-ray.html" class="level3"><span>Christophe RAY</span></a></li><li class="level3 item209"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/frederic-amelin.html" class="level3"><span>Frederic AMELIN</span></a></li><li class="level3 item215"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/jimmy-duroy.html" class="level3"><span>Jimmy DUROY</span></a></li><li class="level3 item216"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/tony-bouilly.html" class="level3"><span>Tony BOUILLY</span></a></li><li class="level3 item210"><a href="http://www.kmc92.fr/index.php/krav-maga-92/lequipe/vincent-grenot.html" class="level3"><span>Vincent GRENOT</span></a></li></ul></li></ul></div></div></div></div></li><li class="level1 item173 parent"><a href="/" class="level1 parent"><span>Galerie</span></a><div class="dropdown columns1"><div class="dropdown-bg"><div><div class="width100 column"><ul class="level2"><li class="level2 item174 parent"><a href="/" class="level2 parent"><span>Vidéos</span></a><ul class="level3"><li class="level3 item227"><a href="http://www.kmc92.fr/index.php/gallerie/videos/video-stage-international-hiver-fekm-2013.html" class="level3"><span>Stage International d'hiver 2013</span></a></li><li class="level3 item195"><a href="http://www.kmc92.fr/index.php/gallerie/videos/video-forteresse-2013.html" class="level3"><span>Stage Forteresse 2013</span></a></li><li class="level3 item175"><a href="http://www.kmc92.fr/index.php/gallerie/videos/video-demo-2012-2013.html" class="level3"><span>Rentrée Saison 2012-2013</span></a></li><li class="level3 item183"><a href="http://www.kmc92.fr/index.php/gallerie/videos/video-demo-2010-2011.html" class="level3"><span>Rentrée Saison 2010-2011</span></a></li></ul></li><li class="level2 item180 parent"><a href="/" class="level2 parent"><span>Photos</span></a><ul class="level3"><li class="level3 item248"><a href="http://www.kmc92.fr/index.php/gallerie/photos/stage-kravmagirl-2014.html" class="level3"><span>Stage KravMaGirl 2014</span></a></li><li class="level3 item221"><a href="http://www.kmc92.fr/index.php/gallerie/photos/forteresse-2013-jour1.html" class="level3"><span>Forteresse 2013 - Partie 1/4</span></a></li><li class="level3 item222"><a href="http://www.kmc92.fr/index.php/gallerie/photos/forteresse-2013-jour2.html" class="level3"><span>Forteresse 2013 - Partie 2/4</span></a></li><li class="level3 item223"><a href="http://www.kmc92.fr/index.php/gallerie/photos/forteresse-2013-jour3.html" class="level3"><span>Forteresse 2013 - Partie 3/4</span></a></li><li class="level3 item224"><a href="http://www.kmc92.fr/index.php/gallerie/photos/forteresse-2013-jour4.html" class="level3"><span>Forteresse 2013 - Partie 4/4</span></a></li><li class="level3 item176"><a href="http://www.kmc92.fr/index.php/gallerie/photos/stage-kravmagirl-2013-1.html" class="level3"><span>Stage KravMaGirl 2013 - Partie 1/2</span></a></li><li class="level3 item181"><a href="http://www.kmc92.fr/index.php/gallerie/photos/stage-kravmagirl-2013-2.html" class="level3"><span>Stage KravMaGirl 2013 - Partie 2/2</span></a></li><li class="level3 item182"><a href="http://www.kmc92.fr/index.php/gallerie/photos/forteresse-2012.html" class="level3"><span>Forteresse 2012</span></a></li><li class="level3 item184"><a href="http://www.kmc92.fr/index.php/gallerie/photos/mise-en-situation-2012.html" class="level3"><span>Stage de Mise en Situation 2012</span></a></li></ul></li></ul></div></div></div></div></li><li class="level1 item177"><a href="http://www.kmc92.fr/index.php/presse-et-medias.html" class="level1"><span>Presse &amp; Médias</span></a></li><li class="level1 item178"><a href="http://www.kmc92.fr/index.php/espace-ce.html" class="level1"><span><span class="icon" style="background-image: url('http://www.kmc92.fr/images/yootheme/new01.png');"> </span>Espace CE</span></a></li><li class="level1 item179"><a href="https://www.facebook.com/krav.maga.club.92" class="level1"><span><span class="icon" style="background-image: url('http://www.kmc92.fr/images/yootheme/social_facebook_box_blue_24.png');"> </span>Suivez-nous</span></a></li><li class="level1 item185"><a href="http://www.kmc92.fr/index.php/contact.html" class="level1"><span>Contact</span></a></li><li class="level1 item193"><a href="http://www.kmc92.fr/index.php/telechargements-2013.html" class="level1"><span>Téléchargements</span></a></li></ul></nav>

            </div>


        </header>

        <div id="main" class="grid-block">
            <div id="maininner" class="grid-box" style="min-height: 1775px;">
                <section id="content" class="grid-block">
                    <div class="box-content">
                    {% block content %}  {% endblock %}
                    </div>
                </section>
            </div>
            <!-- maininner end -->
        </div>
        <!-- main end -->
    <footer id="footer" class="grid-block">
        <a id="totop-scroller" href="#page"></a>
        <div class="module   deepest">
            <ul class="menu menu-line"><li class="level1 item108"><a href="/index.php/inscriptions-2013.html" class="level1"><span>Inscrivez-vous !</span></a></li><li class="level1 item109"><a href="/index.php/comment-sequiper.html" class="level1"><span>Equipez-vous !</span></a></li><li class="level1 item110"><a href="/index.php/planning-des-cours.html" class="level1"><span>Planning des cours</span></a></li><li class="level1 item203"><a href="/index.php/faq.html" class="level1"><span>FAQ</span></a></li></ul>
        </div>
        <div class="module   deepest">
            <p>Copyright © 2014 KMC92</p>
        </div>Designed by <a href="#">Menzprod</a>
</footer>
</div>
</div>

</body>
<script type="text/javascript" src="{{ asset('bundles/kmckmc/js/vendor/jquery-1.10.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/kmckmc/js/jquery.validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/kmckmc/js/validation_form.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/kmckmc/js/main.js') }}"></script>
{% block specialJS %}{% endblock %}
</html>