{% extends 'KmcKmcBundle::layout_subscription.html.twig' %}
{% form_theme form 'KmcKmcBundle:Form:field.html.twig' %}
{% block content %}

<div id="stylized" class="myform">
	<h1 style="color:#000000">INSCRIPTION - {{stage.name}}</h1>
	<div id="div_img_stage" style="float:left;width:100px;height:15Opx;margin-right:30px">
		<img id="img_stage" class="size-auto align-left" src="{{stage.img}}" border="0" style="width:100%;border: 4px solid black;">
	</div>
	<div>
		<p style="border-bottom:none;text-align:left">{{stage.description}}</p>
		Vous venez au {{stage.place}}, {{stage.adress}}, le jour prévu, dès {{stage.arrivalTime}}, avec votre équipement, une bouteille d'eau et pas mal d'énergie !
	  	<p id="lastP">
	  		<i>Les frais d'inscription sont de {{stage.price}} euros, en espèces ou en chèque à l'ordre de KMC92.</i>
	  	</p>
	</div>
	<div>
	<input type="radio" name="membre_choice" value="1"{% if(member_exist == false) %} checked="checked" {% endif %}/> Je ne suis pas membre du club
	<input type="radio" name="membre_choice" value="2"{% if(member_exist == true) %} checked="checked" {% endif %}/> Je suis membre du club
	<p></p>
	</div>
	<div id="form_member" style="display:none">
		<form action="" method="POST">
			Vous êtes inscrit au club pour la saison en cours? utiliser votre email pour remplir automatiquement le formulaire	
			<label class="mode1_stage" for="kmc_member_lastname">Nom<span class="small_stage">Entrez votre email</span></label>
			<input class="classic" type="text" name="kmc_subscription_stage_member_mail">
			<div style="float:clear;overflow: auto;width:600px"></div>
			<button type="submit" id="kmc_subscritpion_next_step" name="kmc_subscritpion[next_step]" class="button1_stage" style="margine-left:160px">Valider mon adresse mail</button>
		</form>
	</div>
	<div id="form_stage" name="form_stage" style="display:block">
		<form action="" id="kmc_subscription_stage_subscription" name="kmc_subscription_stage_subscription" method="POST">
	    <span id="errorspan" class="error2" style="display: {% if(err) %}block{% else %}none{% endif %}">{{err}}</span>
	    <label class="mode1_stage" for="civility">Civilité</label>
        {{ form_widget(form.civility,{ 'attr': {'style': 'float:left;margin-bottom:20px'} }) }}
        <div style="float:clear;overflow: auto;width:600px"></div>
        
	    <label class="mode1_stage" for="kmc_member_lastname">Nom<span class="small_stage">Entrez votre nom</span></label>
	    {{ form_widget(form.lastname) }}
		<div style="float:clear;overflow: auto;width:600px"></div>
		
		<label class="mode1_stage" for="Prnom">Prénom<span class="small_stage">Entrez votre prénom</span></label>
	    {{ form_widget(form.firstname) }}
		<div style="float:clear;overflow: auto;width:600px"></div>
		
	    <label class="mode1_stage" for="Email">Email<span class="small_stage">Entrez une adresse valide</span></label>
	    {{ form_widget(form.email) }}
	    <div style="float:clear;overflow: auto;width:600px"></div>
		
	    <label class="mode1_stage" for="Telephone">Téléphone<span class="small_stage">Entrez votre numéro</span></label>
	    {{ form_widget(form.phone) }}
	    <div style="float:clear;overflow: auto;width:600px"></div>
		
	    <label class="mode1_stage" for="Naissance">Date de naissance<span class="small_stage">JJ/MM/AAAA</span></label>
	    {{ form_widget(form.birthdate) }}
	    <div style="float:clear;overflow: auto;width:600px"></div>
	    
	    <div id="responsable_info" style="border: 2px solid red;margin-bottom:15px;display: none">
	            <p style="float:left;margin-left: auto;margin-rigth:auto;border:none;padding-left:30px;padding-top:15px" >Attention vous êtes mineur, pour valider votre inscritpion nous aurons besoin de l'accord d'un de vos tuteurs légaux</p>
	            <label class="mode1_stage" for="kmc_member_responsablelastname">Nom du tuteur légal</label>
	            {{ form_widget(form.responsablelastname) }}
	            <div style="float:clear;overflow: auto;width:600px"></div>
	           
	            <label class="mode1_stage" for="kmc_member_responsablefirstname">Prenom du tuteur légal</label>
	            {{ form_widget(form.responsablefirstname) }}
	            <div style="float:clear;overflow: auto;width:600px"></div>
	    </div>
	    <button type="submit" id="kmc_subscritpion_next_step" name="kmc_subscritpion[next_step]" class="button1_stage" style="margine-left:160px">Valider mon inscription</button>
	</form>
	</div> 
</div>


{% endblock %}