{% extends 'KmcAdminBundle::layout.html.twig' %}
{% form_theme form 'KmcAdminBundle:Form:season.html.twig' %}

{% block menu %}
{{ render(controller('KmcAdminBundle:Include:Menu', { 'menu': menu })) }}
{% endblock %}

{% block title %}
Edition d'un membre
{% endblock %}

{% block breadcrum %}
<a href="{{ path('kmc_admin_member_list_card') }}">Gestion des
	membres</a>
<a href="#" class="current">Edition d'un membre</a>
{% endblock %}


{% block content %}
{% if validation %}
<div class="row-fluid">
	<div class="span12">
		<div class="alert alert-success">
			<button class="close" data-dismiss="alert">×</button>
			{{validation}}
		</div>
	</div>
</div>
{% endif %}
<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="icon-align-justify"></i>
				</span>
				<h5>Modifier la fiche d'un membre</h5>
			</div>
			<div class="widget-content nopadding">
				<form name="kmc_admin_season" enctype="multipart/form-data"
					method="post" action="" class="form-horizontal ui-formwizard">
					<input type="hidden" name="createCard" value="createCard">
					<div class="control-group">
						<label class="control-label">{{ form_label(form.civility) }}</label>
						<div class="controls">
							{{ form_widget(form.civility) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.lastname) }}</label>
						<div class="controls">
							{{ form_widget(form.lastname) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.firstname) }}</label>
						<div class="controls">
							{{ form_widget(form.firstname) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.email) }}</label>
						<div class="controls">
							{{ form_widget(form.email) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.phone) }}</label>
						<div class="controls">
							{{ form_widget(form.phone) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.job) }}</label>
						<div class="controls">
							{{ form_widget(form.job) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.birthdate) }}</label>
						<div class="controls">
							{{ form_widget(form.birthdate) }}
							<input type='hidden' id="input_major" value="major" name="major">
						</div>
						<div class="alert alert-error" id="minor15">
							<strong>Attention</strong> ce menbre à moins de 15 ans. Il ne
							peut pas être inscrit...
						</div>
					</div>
					<div class="control-group" id="responsable_lastname_group">
						<div class="alert" id="minor18">
							<strong>Attention</strong> ce menbre à moins de 18 ans. Les
							informations sur son tuteur légal doivent être remplies...
						</div>
						<label class="control-label">{{ form_label(form.responsablelastname) }}</label>
						<div class="controls">
							{{ form_widget(form.responsablelastname) }}
						</div>
					</div>
					<div class="control-group" id="responsable_firstname_group">
						<label class="control-label">{{ form_label(form.responsablefirstname) }}</label>
						<div class="controls">
							{{ form_widget(form.responsablefirstname) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.adress) }}</label>
						<div class="controls">
							{{ form_widget(form.adress) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.zipcode) }}</label>
						<div class="controls">
							{{ form_widget(form.zipcode) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.city) }}</label>
						<div class="controls">
							{{ form_widget(form.city) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.practiceyear) }}</label>
						<div class="controls">
							{{ form_widget(form.practiceyear) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form.praticelevel) }}</label>
						<div class="controls">
							{{ form_widget(form.praticelevel) }}
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</form>
			</div>
			<form method="post" name="supp_season">
				<div class="widget-content nopadding">
					<input type="hidden" value="supp_season_action"
						name="supp_season_action" />
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th></th>
								<th>Saison</th>
								<th>Certificat</th>
								<th></th>
								<th>tarif</th>
							</tr>
						</thead>
						<tbody>
							{% for season in seasons%}
							<tr>
								<td style="width: 5%"><input type="checkbox"
									value="{{season.id}}" name="supp_seasons[]"></td>
								<td>{{season.season.name}}</td>
								<td>{% if season.certificat %} <a href="{{ path('kmc_admin_get_member_certificat', { 'member_season_id':season.id }) }}" target="_blank">Afficher le certificat</a> {% else %} Pas de certificat {% endif%}</td>
								<td><a id="editcertificatbutton" href="#editcertificat" data-toggle="modal" class="btn btn-primary">Modifier le certificat</a></td>
								<td>{{season.price.price}} €</td>
							<tr>
							{% endfor%}
						</tbody>
					</table>
				</div>
				<button type="submit" class="btn btn-primary">Supprimer les
					saisons séléctionnées</button>
			</form>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="icon-align-justify"></i>
				</span>
				<h5>Ajouter une inscription</h5>
			</div>
			<div class="widget-content nopadding">
				<form name="kmc_admin_season" enctype="multipart/form-data"
					method="post" action="" class="form-horizontal ui-formwizard">
					<input type="hidden" name="tarif_id" value="test" />
					<div class="control-group">
						<label class="control-label">{{ form_label(form_season.season) }}</label>
						<div class="controls">
							{{ form_widget(form_season.season) }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">{{ form_label(form_season.price) }}</label>
						<div class="controls">
							{{ form_widget(form_season.price) }}
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="editcertificat" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button">×</button>
		<h3 id="titlepopin">Modifier le certficat de la saison</h3>
	</div>
	<div class="modal-body">
		<div id="loader" style="text-align:center">
			<img src="\bundles\kmcadmin\img\icons\loading.gif" width="50%">
		</div>
		<div id="contentpopincertificat" class="widget-content nopadding" style="display:none">
			<form name="kmc_admin_season" method="post" action="" class="form-horizontal ui-formwizard" novalidate="novalidate" enctype="multipart/form-data">
				<input type="hidden" name="updateCertificat" value="updateCertificat" />
				<div id="divimg" class="control-group">
				</div>
				<div class="control-group">
					<label class="control-label">Image :</label>
					<div class="controls">
						<input type="file" id="title-checkbox" name="certificat" />
						<input id="hiddenid" type="hidden" name="memberseason_id" value="">
						<input id="hiddenmemberid" type="hidden" name="member_id" value="">
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary" name="save">Enregistrer</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}