{% extends 'KmcAdminBundle::layout.html.twig' %}
 
{% block menu %}
    {{ render(controller('KmcAdminBundle:Include:Menu', { 'menu': menu })) }}
{% endblock %}

{% block title %}Création d'un tarif{% endblock %}

{% block breadcrum %}<a href="#">Gestion des tarifs</a><a href="#" class="current">Création d'un tarif</a>{% endblock %}

{% block content %}
<form name="kmc_admin_price" method="post" action="" class="form-horizontal ui-formwizard">
<div class="widget-box">
	<div class="widget-content nopadding">
		<div class="control-group">
			<label class="control-label">{{ form_label(form.name) }}</label>
		    <div class="controls">
		    	{{ form_widget(form.name) }}
		    </div>
		 </div>
		 <div class="control-group">
			<label class="control-label">{{ form_label(form.price) }}</label>
		    <div class="controls">
		    	{{ form_widget(form.price) }}
		    </div>
		 </div>
		<div class="form-actions">
		    <button type="submit" class="btn btn-primary">Enregistrer</button>
		</div>
	</div>
</div>
</form>
{% endblock %}