{% extends 'KmcAdminBundle::layout.html.twig' %}

{% block menu %}
{{ render(controller('KmcAdminBundle:Include:Menu', { 'menu': menu })) }}
{% endblock %}

{% block title %}
Gestion des tarifs
{% endblock %}

{% block breadcrum %}
<a href="#" class="current">Gestion des tarifs</a>
{% endblock %}

{% block content %}
{% if modif %}
<div class="row-fluid">
	<div class="span12">
		<div class="alert alert-success">
			<button class="close" data-dismiss="alert">×</button>
			La mise à jour a été effectuée avec succés.
		</div>
	</div>
</div>
{% endif %}
<form name="kmc_admin_city" method="post" action=""
	class="form-horizontal ui-formwizard">
	<div class="widget-box">
		<div class="widget-content nopadding">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>Actif</th>
						<th>Déscription</th>
						<th>Tarif</th>
						<th></th>

					</tr>
				</thead>
				<tbody>
					{% for price in prices  %}
					<tr>
						<td><input type="checkbox" {% if price.active %}
							checked="checked" {% endif %} value="{{price.id}}"
							name="active_id[]" /></td>
						<td>{{ price.name }}</td>
						<td>{{ price.price}}</td>
						<td>
						<button type="button" class="btn btn-primary" onclick="window.location='{{ path('kmc_admin_pricenew', { 'id': price.id }) }}';">
							Editer
						</button>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Mettre à jour</button>
	<a type="button" class="btn btn-primary"
		href="{{ path('kmc_admin_pricenew')}}">Ajouter un tarif</a>
</form>
{% endblock %}