<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Infinite Admin | Dashboard</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="{{ asset('bundles/kmcadmin/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css')}}" rel="stylesheet" />
	<link href="{{ asset('bundles/kmcadmin/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet " />
	<link href="{{ asset('bundles/kmcadmin/plugins/icon/themify-icons/themify-icons.css')}}" rel="stylesheet" />
	<link href="{{ asset('bundles/kmcadmin/css/animate.min.css')}}" rel="stylesheet" />
	<link href="{{ asset('bundles/kmcadmin/css/style.min.css')}}" rel="stylesheet" />
	
	<link href="{{ asset('bundles/kmcadmin/plugins/form/jquery-file-upload/css/jquery.fileupload.css')}}" rel="stylesheet" />
	
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ asset('bundles/kmcadmin/plugins/loader/pace/pace.min.js')}}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- BEGIN #page-container -->
	<div id="page-container" class="page-header-fixed page-sidebar-fixed">
		<!-- BEGIN #header -->
			{{ include ("KmcAdminBundle::Include/header.html.twig") }}
		<!-- END #header -->
		
		<!-- BEGIN #sidebar -->
			{{ include ("KmcAdminBundle::Include/menu.html.twig") }}
		<!-- END #sidebar -->
		
		<!-- BEGIN #content -->
		<div id="content" class="content">
			<!-- BEGIN page-header -->
			<h1 class="page-header">
				Dashboard <small>overview, analytics & report</small>
			</h1>
			<!-- END page-header -->
			{% block content %}{% endblock %}
		</div>
		<!-- END #content -->
		
		<!-- BEGIN btn-scroll-top -->
		<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="ti-arrow-up"></i></a>
		<!-- END btn-scroll-top -->
	</div>
	<!-- END #page-container -->
	
	
	<!-- ================== BEGIN BASE JS ================== -->
		{% javascripts 	'@jquery_and_ui'
						'@base'
						'@jquery_file_upload'%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	{% block page_level_js %}{% endblock page_level_js %}
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			Profile.init();
			configLog = new Array('loadAssociationList','getTdPosition');
		});
	</script>
</body>
</html>
